langchain==1.2.12
langchain-classic==1.0.3
langchain-community==0.4.1
langchain-core==1.2.19
langchain-groq==1.1.2
langchain-huggingface==1.2.1
langchain-text-splitters==1.1.1


langgraph==1.1.2
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.11

faiss-cpu==1.13.2

pydantic>=2.4.2,<3.0.0
pydantic-settings>=2.0.3,<3.0.0
pydantic_core==2.41.4

tqdm>=4.66.1,<5.0.0

rank-bm25==0.2.2
pandas

marker-pdf
langchain-experimental
filelock
rouge-score
bitsandbytes